@charset 'UTF-8';

$color-white: #FFFFFF;
$color-green: #42B983;
$color-blue-green: #35495E;
$color-gray: #CCD1D9;
$color-yellow: #FFEB3B;

$font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif, arial;
