@charset 'UTF-8';
@import './utils/_utils.scss';
@import './_reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;600&display=fallback');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('https://example.com/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
  // url('https://example.com/MaterialIcons-Regular.woff2') format('woff2'),
  // url('https://example.com/MaterialIcons-Regular.woff') format('woff'),
  // url('https://example.com/MaterialIcons-Regular.ttf') format('truetype');
}

/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

// * Fade Animation

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.before-font-material::before,
.after-font-material::after {
  @include font-material;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 16px;
  font-family: $font-family;
  color: $color-blue-green;
  background-color: $color-green;
  line-height: 1.6em;
  letter-spacing: 1px;
  -webkit-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
}
